body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(197,246,138);
    background: radial-gradient(circle, rgba(197,246,138,1) 0%, rgba(133,184,118,1) 100%);
    margin: 0;
}

form {
    background-color: #e7e9d290;
    margin: 2em;
    padding: 20px;

    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 70vw;
}

label {
    display: block;
    margin-bottom: 8px;
    
}

input[type="text"], input[type="password"] {
    display: block;
    width: 40%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}