<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Error 404</title>
</head>
<body>
    <div class="error">
        <h1>page not found</h1>
        <p>Oh No!</p>
        <p>It looks like we can't find what you are looking for.</p>
        <a href="">Would you like to go back to home?</a>
        <img src="static/images/error.png" alt="Number 404 with a tired robot">
    </div>
   
</body>
</html>