<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>New User</title>
</head>
<body>
    <h1>New User Form Registration</h1>
    <form id="newUserForm" action="/submit" method="post">
        <label for="username">Username:</label>
        <input type="text" name="username" required>

        <label for="password">Password:</label>
        <input type="password" name="password" required>

        <fieldset>
            <legend>Klaar met de leef?</legend>
            
            <input type="radio" name="ofcourse" value="ja" required>
            <label id="ja" for="ofcourse">Ofocurse</label>
            <input type="radio" name="zekers" value="zeker" required>
            <label id="ja" for="zekers">Zekers</label>
        </fieldset>

        <label for="favcolor">What color makes you happy?:</label>
        <input type="color"  name="favcolor">

        <input type="submit" value="submit">

    </form>
</body>
</html>